:root {
  --primary: #dd77c8;
  --background: #ffe7fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

/* SECTION COMPONENTS */
.pinkitude-container {
  max-width: 100%;
  height: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pinkitude-button {
  height: 40px;
  background: var(--primary);
  color: black;
  font-weight: bold;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 5px 2rem;
}

.pinkitude-button_inverse {
  background: black;
  color: white;
}

@media screen and (max-width: 1024px) {
  .pinkitude-button {
    padding: 0px 2rem;
    height: 35px;
    font-size: 14px;
  }
}

/* !SECTION COMPONENTS */

/* SECTION NAVBAR */

.pinkitude-navbar {
  width: 100%;
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 86px 20px 86px;
}

.pinkitude-navbar__navlinks {
  display: flex;
  width: 30%;
  list-style-type: none;
  align-items: center;
}

.pinkitude-navbar__link:not(:last-child) {
  margin-right: 80px;
}

.pinkitude-navbar__link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.pinkitude-navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.pinkitude-navbar__buttons {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

.pinkitude-navbar__buttons button:last-child {
  margin-left: 20px;
}

.pinkitude-burger {
  height: 40px;
  width: 40px;
  background: goldenrod;
  position: absolute;
  left: 40px;
  top: 30px;
  display: none;
}

.pinkitude-sidebar {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  background: var(--primary);
  flex-direction: column;
  align-items: flex-start;
  transition: all 1s step-start;
  left: 0;
  width: 80%;
  height: auto;
  min-height: 100%;
  transform: translateX(-120%);
}

.pinkitude-sidebar_show {
  display: flex;
  padding: 20px 10px;
  transform: translateX(0%);
}

/* FIXME */

/* 
.pinkitude-sidebar .pinkitude-sidebar__header {
    display: none;
    opacity: 0;
}

.pinkitude-sidebar_show .pinkitude-sidebar__header {
    display: flex;
    transition: all 2s ease;
    opacity: 1;
}

.pinkitude-sidebar .pinkitude-sidebar__header img {
    display: none;
}

.pinkitude-sidebar_show .pinkitude-sidebar__header img {
    display: unset;
}


.pinkitude-sidebar .pinkitude-sidebar__links {
    display: none;
}

.pinkitude-sidebar_show .pinkitude-sidebar__links {
    display: unset;
}


.pinkitude-sidebar .pinkitude-sidebar__buttons {
    display: none;
}

.pinkitude-sidebar_show .pinkitude-sidebar__buttons {
    display: flex;
}
 */

.pinkitude-sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 20px;
}

.pinkitude-sidebar__header__close-button {
  background: green;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 40px;
}

.pinkitude-sidebar .pinkitude-navbar__logo {
  /* width: 100%; */
  margin-bottom: 0px;
}

.pinkitude-sidebar .pinkitude-navbar__logo img {
  height: 60px;
}

.pinkitude-sidebar__links {
  width: 100%;
  border-top: 1px solid white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 50px;
}

.pinkitude-sidebar__link {
  padding: 1rem 40px;
}

.pinkitude-sidebar__link {
  width: 100%;
}

.pinkitude-sidebar__link:not(:last-child) {
  margin-bottom: 20px;
}

.pinkitude-sidebar__link a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.pinkitude-sidebar__buttons {
  margin-top: 60px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pinkitude-sidebar__buttons button {
}

.pinkitude-sidebar__buttons button:first-child {
  background: white;
  color: black;
}

.pinkitude-sidebar__buttons button:last-child {
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .pinkitude-navbar {
    padding: 0 40px;
  }

  .pinkitude-navbar__link:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .pinkitude-navbar__navlinks {
    display: none;
  }

  .pinkitude-navbar__buttons {
    display: none;
  }

  .pinkitude-navbar__logo {
    object-fit: contain;
  }

  .pinkitude-navbar__logo img {
    height: 40px;
  }

  .pinkitude-burger {
    display: block;
  }
}

@media screen and (max-width: 414px) {
  .pinkitude-sidebar__links {
    margin-top: 20px;
  }
}

/* !SECTION NAVBAR */

/* SECTION HERO */
.pinkitude-hero {
  width: 100%;
  background-image: url("./img/hero.jpg");
  background-size: cover;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.pinkitude-hero__img-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pinkitude-hero__hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinkitude-hero__hero-text h3 {
  font-size: 70px;
  margin-bottom: 10px;
  color: white;
}

.pinkitude-hero__hero-text span {
  color: var(--primary);
}

.pinkitude-hero__hero-text p {
  font-size: 40px;
  color: white;
}

.pinkitude-hero__cards-container {
  width: 60%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 100px;
}

.pinkitude-hero-card {
  background: var(--background);
  height: 300px;
  width: 255px;
  border-radius: 20px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary);
  /* justify-content: center; */
}

.pinkitude-hero-card h4 {
  margin-bottom: 33px;
  font-size: 30px;
}

.pinkitude-hero-card p {
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}

/* !SECTION HERO */
